body {
  text-align: center;
  font-family: 'Delius', cursive;

}

img {
  max-height: 175px;
  margin-top: 180px;
}

h1 {
  font-size: 70px;
  margin-top: 30px;
  color: #848484;
}

#result {
  margin-top: 180px;
  color: #738678;
}
