#body {
  text-align: center;
}

body {
  background-image: url("bg.png") !important;

}

.container {
    background-image: url("bg.png") !important;
}

h1,h2, h4 {
  -webkit-text-stroke: 1px black;
  text-align: center;
  color: 	#ff0097;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#userChoice, #playButton {
  margin-top: 60px;
  border-radius: 25px;
  height: 40px;

}

#userChoice {
  background-color: #f09609;
  color: #00aedb;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

#playButton {
  width: 85px;
  color: #ffc425;
  background-color: #d11141;
  font-weight: bolder;
}

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #ffc425;
  background-color: #d11141;
  margin-top: 60px;
}

h4 {
  color: #f2efa6;
  font-size: 20px;
}

p{
  font-family: 'Lobster', cursive;
  margin-top: 65px;
  font-size: 35px;
  color: #d11141;
  text-align: center;
  font-weight: bold;
  background-color: gold;
}

footer {
  color: yellow;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  font-weight: bold;
}
